<!-- Open Dashboard using AJAX -->

<div class="dashboard-div" style="padding: 3% 20%";>
    <h2 style="margin-bottom: 5%;">Dashboard</h2>
<table class="table table-bordered table-hover ">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Available</th>
      </tr>
    </thead>
    <tbody>
        <% bikes.forEach(function(bike) { %>
      <tr>
        <td scope="row"><%=bike.bike%></td>
        <td><%=bike.amount%></td>
        <td><%=bike.available%></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <p>Dashboard imported with AJAX</p>
</div>
