<%- include("partials/header") -%>

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Checkout Successful</h1>
  <i class="fas fa-check-circle fa-6x checkout-icon"></i>
  <p class="lead checkout-text">You can find the order confirmation in your mailbox!</p>
</div>

<!-- Redirect to index -->
<script type="text/javascript" src="/javascript/checkout.js"></script>

<%- include("partials/footer") -%>