<%- include("partials/header") -%>

<%- include("partials/title") -%>

<!-- Features -->

<section id="features">

  <div class="row">
    <div class="feature-box col-lg-4">
      <i class="icon fas fa-check-circle fa-4x"></i>
      <h3>Easy to use</h3>
      <p>So easy to use, even your bike could do it.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fas fa-bullseye fa-4x"></i>
      <h3>Elite Bikes</h3>
      <p>We have all the bikes, the greatest bikes.</p>
    </div>

    <div class="feature-box col-lg-4">
      <i class="icon fas fa-heart fa-4x"></i>
      <h3>Best Quality</h3>
      <p>Find the love of your bike's life or your money back.</p>
    </div>
  </div>

</section>

<!-- Testimonials -->

<section id="testimonials">

  <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2>I no longer have to look hours for a bike. I've found the fastest bike on RentBike. Yeah.</h2>
        <img class="testimonial-image" src="https://image.flaticon.com/icons/svg/3011/3011270.svg" alt="Rainer Race">
        <em>Rainer, Mannheim</em>
      </div>
      <div class="carousel-item">
        <h2 class="testimonial-text">I am the only one with a bike, but with RentBike's help, my whole family is able to
          join.</h2>
        <img class="testimonial-image" src="https://image.flaticon.com/icons/svg/3011/3011266.svg" alt="Tina Tour">
        <em>Tina, Heidelberg</em>
      </div>
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</section>

<!-- Pricing -->

<section id="pricing">

  <h2>A Plan for Every Biker's Needs</h2>
  <p>Simple and affordable price plans for your and your family.</p>

  <div class="row">
    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Day Bike</h3>
        </div>
        <div class="card-body">
          <h2>5,00€/day</h2>
          <p>drive for 24 hours</p>
          <p>no bike lock</p>
          <p>no insurance</p>
          <button class="btn btn-lg btn-block btn-dark" type="button">Get Started</button>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4 col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Week Bike</h3>
        </div>
        <div class="card-body">
          <h2>25,00€/week</h2>
          <p>drive for 7 days</p>
          <p>bike lock included</p>
          <p>insurance included</p>
          <button class="btn btn-lg btn-block btn-dark" type="button">Get Started</button>
        </div>
      </div>
    </div>

    <div class="pricing-column col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3>Month Bike</h3>
        </div>
        <div class="card-body">
          <h2>75,00€/mo.</h2>
          <p>drive for one month</p>
          <p>bike lock included</p>
          <p>insurance included</p>
          <button class="btn btn-lg btn-block btn-dark" type="button">Get Started</button>
        </div>
      </div>
    </div>
  </div>

</section>


<%- include("partials/footer") -%>